<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
    <title>About</title>
</head>
<body>
    <div class="box">
        {{>header}}
        <img class="portrait" width="200px" src="https://is1-ssl.mzstatic.com/image/thumb/Purple71/v4/56/6c/10/566c1052-e56e-79b7-107c-4e97fa2f94a6/source/512x512bb.jpg" alt=""> 
    </div>
    {{>footer}}
</body>
</html>